/* Base styles */
body {
  font-family: 'Lora', serif;
}

.white {
  color: white; 
}

.gray {
  color: gray; 
}

.gray b {
  color: black;
  font-weight: bold;
}

.limited-width {
  margin: 3rem auto;
  max-width: 50rem;
}

/* Header */
.header {
  background-image: url("resources/background.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Bitter', serif;
  height: 40vh; 
  display : flex;
  flex-direction: column;
  align-items : center;
  justify-content: center;
}

.header > * {
  max-width: 60rem;
  text-align: center;
}

/* Content */
.credits, h4 {
  margin: 3rem auto 1rem auto;
}

.scroll {
  display: flex;
  margin: 5rem auto;
  padding: 1rem;
}

.scroll article {
  flex: 1;
  min-width: 20rem;
  padding-right: 1rem;
}

.scroll article .text {
  background-color: #f4f4f4;
  margin-bottom: 20rem;
  transition: background-color 250ms ease-in-out;
}

.scroll article .text.is-active {
  background-color: #722f37;
}

.scroll article p {
  color: white;
  margin: 0;
  padding: 1rem;
  text-align: center;
}

.scroll figure.graphic {
  background: #f4f4f4;
  flex: 2;
  height: 90vh;
  width: 100%;
  min-width: 40rem;
  position: -webkit-sticky;
  position: sticky;
  margin: 0;
  top: 5vh;
}

#slidercontainer {
  margin: 1rem auto 2rem auto;
  width: 80%;
}

#slider {
  -webkit-appearance: none;
  appearance: none;
  border: none !important;
  height: 10px;
  margin: 0 auto;
  opacity: 0.8;
  color: #fff;
  transition: opacity .2s;
  -webkit-transition: .2s; 
}

#slider:hover {
  opacity: 1;
}

#slider::-webkit-slider-thumb {
  background-color: #722f37;
}

#slider::-moz-range-thumb {
  background-color: #722f37;
}

#slider::-ms-thumb {
  background-color: #722f37;
}

svg text{
  font-family: 'Bitter', serif;
}

#radiocontainer  {
  margin: 1rem auto;
  width: 95%;
}

[type="radio"].with-gap:checked + span:before{
  border-color: #722f37;
}

[type="radio"].with-gap:checked + span:after {
  background-color: #722f37;
  border-color: #722f37;
}

[type="radio"].with-gap:checked + span {
  color: #722f37;
  font-weight: bold;
}

[type="radio"].with-gap + span {
  font-family: 'Bitter', serif;
  margin-right: 2rem;
}

.tooltip { 
  position: absolute;
  text-align: center;     
  width: 160px;          
  height: 5rem;         
  padding: 2px;
  font-size: 0.8rem;   
  border-radius: 8px;     
  pointer-events: none;     
}

#line_FR {
  fill: none;
  stroke: #92c5de;
  stroke-width: 3;
}

.dot_FR {
  fill: #92c5de;
  stroke: #92c5de;
}

#line_US {
  fill: none;
  stroke: #ec0040;
  stroke-width: 3;
}

.dot_US {
  fill: #ec0040;
  stroke: #ec0040;
}

.dot {
  stroke-width: 2;
}
