/* Base styles */
body {
  font-family: 'Lora', serif;
}

.white {
  color: white; 
}

.gray {
  color: gray; 
}

.gray b {
  color: black;
  font-weight: bold;
}

.limited-width {
  margin: 3rem auto;
  max-width: 50rem;
}

/* Header */
.header {
  background-image: url("resources/background.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Bitter', serif;
  height: 40vh; 
  display : flex;
  flex-direction: column;
  align-items : center;
  justify-content: center;
}

.header > * {
  max-width: 60rem;
  text-align: center;
}

/* Content */
.credits, h4 {
  margin: 3rem auto 1rem auto;
}

.scroll {
  display: flex;
  margin: 5rem auto;
  padding: 1rem;
}

.scroll article {
  flex: 1;
  min-width: 20rem;
  padding-right: 1rem;
}

.scroll article .text {
  background-color: #f4f4f4;
  margin-bottom: 20rem;
  transition: background-color 250ms ease-in-out;
}

.scroll article .text.is-active {
  background-color: #722f37;
}

.scroll article p {
  color: white;
  margin: 0;
  padding: 1rem;
  text-align: center;
}

.scroll figure.graphic {
  background: #f4f4f4;
  flex: 2;
  height: 90vh;
  width: 100%;
  min-width: 40rem;
  position: -webkit-sticky;
  position: sticky;
  margin: 0;
  top: 5vh;
}

.scroll figure.graphic .bar-outer {
  position: absolute;
  top: 50%;
  left: 5%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 90%;
  height: 4rem;
  background-color: #fff;
}
.scroll figure.graphic .bar-inner {
  width: 10%;
  height: 100%;
  transition: width 1s ease-in-out;
  background-color: #722f37;
}
